@charset "utf-8";

/*
	Admin_Styles.css is the stylesheet for the NewPateInt.html page
		
	Name: LeeWayne Barrineau
	Date: 11/8/2019
	Filename: Admin_Styles.css
*/
html {
   background: white;
   font-family: sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   font-size: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   height: 100%;
}
body{
	background: #fff;
	color:#7E8081;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	position: relative;
	cursor: auto;
	font-size: 100%;
	height: 100%;
}
header,footer{
	background: #0095CA;
	color:#7E8081;
	box-shadow: 0 10px 60px -15px #002336;
}
div#logoLine{
	display: inherit !important;
	box-sizing: border-box;
}
div#topLogo{
	padding-bottom: 0.5rem;width: 41.6666666667%;
	display: table;box-sizing: border-box;
	padding-top: 1rem;
	max-width: 500px;
	position: relative;
	padding-left: .9375rem;
	padding-right: .9375rem;
	float: left;
	margin: 0;
}
div#topLogo a{
	color:#0095CA;
	text-decoration: none;box-sizing: border-box;
	line-height: inherit;background-color: #fff;
}
div#topLogo a img{
	display: inline-block;max-width: 100px;height: auto;box-sizing: border-box;
	vertical-align: middle;
}

div#navArea{
	position: relative;max-width: 100%;
	z-index: 1;padding: 0;box-sizing: border-box;
	background:#0095CA;
	-moz-box-shadow: 0 10px 60px -15px #002336;
	-webkit-box-shadow: 0 10px 60px -15px #002336;
	box-shadow: 0 10px 60px -15px #002336;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 62.5rem;
}
nav#navHeadBar{
	max-width: 90rem;display: block;
	margin: 0 auto;box-sizing: border-box;
}
nav#navHeadBar ul,nav#navFootBar ul{
	list-style: none;
	margin: 0;
	left: 0;
	margin: 0 auto 1.0625rem auto;
	margin-left: -1.375rem;
	margin-right: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.6;
	margin-bottom: 1.25rem;
	list-style-position: outside;
	font-family: inherit;
}
nav#navHeadBar ul li,nav#navFootBar ul li{
	margin: 0 -2px;
display: inline-block;list-style: none;
float: left;
}
nav#navHeadBar ul li a,nav#navFootBar ul li a{
	padding: 1.25rem 3.5rem;
	font-size: 1rem;text-transform: uppercase;
	border-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-width: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	cursor: pointer;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.25rem;
	margin-bottom: 1.25rem;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	border-radius: 0;
	display: inline-block;
	padding-top: .875rem;
	padding-right: 1.75rem;
	padding-bottom: .9375rem;
	padding-left: 1.75rem;
	font-size: .8125rem;
	background-color: #fff;
	border-color:#ccc;
	border-top-color: rgb(204, 204, 204);
	border-bottom-color: rgb(204, 204, 204);
	border-left-color: rgb(204, 204, 204);
	color: #005682;
	background:transparent;
	border-top: none;
	border-left: none;
	border-bottom: none;
	color:#fff;
	margin-bottom: 0;
	transition: all 300ms ease-out;
}

section#resultTable{
	margin: auto;
	width:50%;
}
table#patientTable{
	border: 1px dashed #ccc;
}
fieldset#patientInfo,fieldset#searchFields{
	width: 50%;}
fieldset#submitButton{
	margin: auto;
	width: 50%;
	border: 0px;	
}
form{
	margin: auto;
	width: 50%;
}

