@charset "utf-8";

/*
	New_Patient_Styles.css is the stylesheet for the New_Patient.html page
		
	Name: LeeWayne Barrineau
	Date: 11/8/2019
	Filename: New_Patient_Styles.css
*/
 html	{
	background-color:white;
	color : #0095CA;
	font-family:  Verdana, Geneva, sans-serif;
	
 }
 
 
 #socialMedia	{
	padding-right: 5%;
	background: #005682;
	height: 55px;

	
}

#socialMedia img {
	padding-left: 2%;
	float: right;
	width: 3%;
}

#socialMedia img:hover {
	opacity:.5;
}

#compImg	{
	display:flex;
	justify-content: center;
	margin-left: 10%;

}

#compImg img{
	margin-right:10%;
	width: 50%;
	height:50%;
}


#choose	li{
	list-style: none;
}

#choose	{
	width: 50%;
}

#choose	a{
	padding: 15px 10px 20px 15px;
	text-decoration: none;
	color: white;
	background: #0095CA;
}




#navBar nav{

	display: table;
	table-layout: fixed;
	justify-content: center;
	width: 100%;
    background: #0095CA;
    box-shadow: 0 20px 35px -10px
    #005682;

}

#navBar nav ul {
	display: table-row;

}

#navBar  ul li{
	
	display: table-cell;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 1em;
	text-align: center;
	color: white;
	
	
}


 #navBar nav a{
	text-decoration: none;
	color: white;
	
}	
#navBar nav li:hover{	
	background: #00aceb;
	
}


.breadCrumb li	{
	display: inline;
	list-style: none;
}
.breadCrumb li+li:before {
  padding: 8px;
  font-size:.8em;
  color: black;
  content: ">";
}
.breadCrumb li a{
	font-size: .7em;
	color: black;
	text-decoration: none;
}

.breadCrumb li a:hover{
	color: grey;
}



#main {
	display: flex;
	width: 100%;
	
}


#contentLeft 	{
	float:left;
	margin-left: 5%;
	width: 60%;
	clear:left;
}
 
 #contentLeft 	a{
 color: #0095CA;
 text-decoration: none;
}

#contentLeft 	p{
color: black;
}

#contentRight	{
	margin-top: 4%;
	float: right;
	clear:right;
	width: 30%;
}

#formOption fieldset{
	padding: 10px 0px 10px 0px;
	font-size: 1em;
	font-weight: bold;
	background: rgba(206, 221, 248, 0.65);
}

#newAppt	{
	background: rgba(206, 221, 248, 0.65);
	font-size: 1em;
}


#links	li{
	margin-left: 4%;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style: none;
	border-bottom: 1px solid lightgrey;
}

#links h2{
	margin-left: 10.5%;
}


#links a{

	text-decoration: none;
	font-size: 1em;
	color: #0095CA;
}

#links a:hover{
	background: lightgrey;
	padding: 5px 100px 5px 5px;
}


#navButtons2	{
	margin-left: 10%;

	
}
#navButtons2	li{
	list-style: none;
	padding: 20px 20px 20px 20px;
	background: #0095CA;
	
}

#navButtons2	li:hover{
	background-color: #005682;
	opacity: 0.9;
}

#navButtons2 li:first-of-type{
	background: orange;
}

#navButtons2 li:first-of-type:hover {
	background-color: darkorange;
}

#navButtons2	a{
	text-decoration: none;
	color: white;
}

#ccu	{
	
	padding-left: 15%;
	padding-right:15%;
	color: white;
	background: #005682;
	display: flex;
}

#ccu p	{
	margin-top: -1.5%;
	font-size: 1.1em;
}


#ccu img	{
	width: 5%;
	
}
#ccu a{

	background: #0095CA;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	color: white;
	
}
	
#ccu a:hover{
	
	background: #00b4f5;
}

#footer	{
	display: flex;
	background: #7e8081;
	height: 200px;
}

#fLinks1	{
	padding-top: 2%;
	padding-left: 20%;
	padding-right: 10%;
}
#fLinks2	{
	padding-top: 2%;
	padding-right: 10%;
}
#fLinks3	{
	padding-top: 2%;
	padding-right: 10%;
}

#footer	p{
	padding-top: 2%;
	padding-right: 5%;
	color: white;
}

#footer	a {	
	
	text-decoration: none;
	color: white;
}

#footer	a:hover{	
	padding: auto;
	background: #68696a;
}

	
#footer	li{	
	padding-bottom: 5%;
	list-style: none;

}
form#patientForm p{
	margin: auto;
	width: 50%;font-size: 20px;
}
form#patientForm h1{
	margin: auto;
	width: 50%;
	padding: 10px;font-size: 45px;
	}
fieldset#patientInfo{
	margin: auto;
	width: 50%;}
fieldset#submitButton{
	margin: auto;
	width: 50%;
	border: 0px;	
}
input#buttonSubmit{
	width: 100%;
	
}




